@import "tailwindcss";

@theme {
  --color-primary: #237227;
  --color-secondary: #519A66;
  --color-accent: #FFAA00;
  --color-soft: #FFD786;
}

body {
  background-color: #f8fcf8;
  color: #1b261b;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#root {
  width: 100%;
}
